<section id="section-gallery" class="gallery">
    <div class="heading">
        <div class="container center">
            <h2 class="heading__title">Smile Gallery</h2>
            <p class="heading__copy">Select a photo below to see dramatic before and after results from treatment.</p>
        </div>
    </div>

    <div class="full-width-wrapper">
        <div class="container">
            <div class="owl-carousel js-smile-carousel">
                <img src="/assets/before-after/thumb_1.jpg" data-lightboxpointer="#thumb_1" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_2.jpg" data-lightboxpointer="#thumb_2" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_3.jpg" data-lightboxpointer="#thumb_3" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_4.jpg" data-lightboxpointer="#thumb_4" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_5.jpg" data-lightboxpointer="#thumb_5" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_6.jpg" data-lightboxpointer="#thumb_6" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_7.jpg" data-lightboxpointer="#thumb_7" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_8.jpg" data-lightboxpointer="#thumb_8" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_9.jpg" data-lightboxpointer="#thumb_9" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_10.jpg" data-lightboxpointer="#thumb_10" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_11.jpg" data-lightboxpointer="#thumb_11" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_12.jpg" data-lightboxpointer="#thumb_12" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_13.jpg" data-lightboxpointer="#thumb_13" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_14.jpg" data-lightboxpointer="#thumb_14" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_15.jpg" data-lightboxpointer="#thumb_15" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_16.jpg" data-lightboxpointer="#thumb_16" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_17.jpg" data-lightboxpointer="#thumb_17" alt="After image of a happy dental patient">
                <img src="/assets/before-after/thumb_18.jpg" data-lightboxpointer="#thumb_18" alt="After image of a happy dental patient">
            </div>
        </div>
    </div>

    <div data-lightbox="gallery" class="hidden">
        <a href="/assets/before-after/1.jpg" data-lightbox="gallery-item" id="thumb_1"><img src="/assets/before-after/1.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/2.jpg" data-lightbox="gallery-item" id="thumb_2"><img src="/assets/before-after/2.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/3.jpg" data-lightbox="gallery-item" id="thumb_3"><img src="/assets/before-after/3.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/4.jpg" data-lightbox="gallery-item" id="thumb_4"><img src="/assets/before-after/4.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/5.jpg" data-lightbox="gallery-item" id="thumb_5"><img src="/assets/before-after/5.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/6.jpg" data-lightbox="gallery-item" id="thumb_6"><img src="/assets/before-after/6.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/7.jpg" data-lightbox="gallery-item" id="thumb_7"><img src="/assets/before-after/7.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/8.jpg" data-lightbox="gallery-item" id="thumb_8"><img src="/assets/before-after/8.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/9.jpg" data-lightbox="gallery-item" id="thumb_9"><img src="/assets/before-after/9.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/10.jpg" data-lightbox="gallery-item" id="thumb_10"><img src="/assets/before-after/10.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/11.jpg" data-lightbox="gallery-item" id="thumb_11"><img src="/assets/before-after/11.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/12.jpg" data-lightbox="gallery-item" id="thumb_12"><img src="/assets/before-after/12.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/13.jpg" data-lightbox="gallery-item" id="thumb_13"><img src="/assets/before-after/13.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/14.jpg" data-lightbox="gallery-item" id="thumb_14"><img src="/assets/before-after/14.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/15.jpg" data-lightbox="gallery-item" id="thumb_15"><img src="/assets/before-after/15.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/16.jpg" data-lightbox="gallery-item" id="thumb_16"><img src="/assets/before-after/16.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/17.jpg" data-lightbox="gallery-item" id="thumb_17"><img src="/assets/before-after/17.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
        <a href="/assets/before-after/18.jpg" data-lightbox="gallery-item" id="thumb_18"><img src="/assets/before-after/18.jpg" alt="{{ mainDoctor }} before and after showing a greatly improved smile"></a>
    </div>
</section>

