<section id="section-testimonials">
    <div class="heading container center">
        <h2 class="heading__title">Video Testimonials</h2>
    </div>

    <div class="container">
        <iframe id="active-video" width="560" height="315" src="https://www.youtube.com/embed/i7BYatT5s-0" allowfullscreen></iframe>
        <div class="row video-queue">
            <div class="col-xs-6 col-sm-3 active">
                <img src="/assets/video-thumbs/_0000_Screen%20Shot%202017-07-19%20at%2011.59.35%20PM.jpg" data-youtube-embed="https://www.youtube.com/embed/i7BYatT5s-0" alt="Video Testimonial of great service from {{ mainDoctor }}">
            </div>
            <div class="col-xs-6 col-sm-3">
                <img src="/assets/video-thumbs/_0001_Screen%20Shot%202017-07-19%20at%2011.59.13%20PM.jpg" data-youtube-embed="https://www.youtube.com/embed/mxofkunZGmA" alt="Video Testimonial of great service from {{ mainDoctor }}">
            </div>
            <div class="col-xs-6 col-sm-3">
                <img src="/assets/video-thumbs/_0002_Screen%20Shot%202017-07-19%20at%2011.58.28%20PM.jpg" data-youtube-embed="https://www.youtube.com/embed/4LZ6GoqAxro" alt="Video Testimonial of great service from {{ mainDoctor }}">
            </div>
            <div class="col-xs-6 col-sm-3">
                <img src="/assets/video-thumbs/_0003_Screen%20Shot%202017-07-19%20at%2011.57.50%20PM.jpg" data-youtube-embed="https://www.youtube.com/embed/t4259XJDymE" alt="Video Testimonial of great service from {{ mainDoctor }}">
            </div>
            <div class="col-xs-6 col-sm-3">
                <img src="/assets/video-thumbs/_0004_Screen%20Shot%202017-07-19%20at%2011.57.26%20PM.jpg" data-youtube-embed="https://www.youtube.com/embed/Of1DLjFw1FI" alt="Video Testimonial of great service from {{ mainDoctor }}">
            </div>
        </div>
    </div>
</section>